<nav class="navbar navbar-expand-lg navbar-inverse mb-4 top-bar navbar-static-top sps sps--abv">
  <div class="container">
    <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <a class="navbar-brand mx-auto" href="#">Car<span>Wash</span></a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item active"> <a class="nav-link" href="#myCarousel">Home <span class="sr-only">(current)</span></a> </li> -->
        <li class="nav-item"> <a class="nav-link" href="#service">Servicios</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#about">Nosotros</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#gallery">Planes</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#contact">Contact</a> </li>
      </ul>
    </div>
  </div>
</nav>
