<!-- Swiper -->
<div class="swiper-container main-slider" id="myCarousel">
  <div class="swiper-wrapper">
    <div class="swiper-slide slider-bg-position" id="slide1">
      <h2>It is health that is real wealth and not pieces of gold and silver</h2>
    </div>
    <div class="swiper-slide slider-bg-position" id="slide2">Slide 2</div>
    <div class="swiper-slide slider-bg-position" id="slide3">Slide 3</div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Navigation -->
  <!-- <div class="swiper-button-prev"><i class="fa fa-chevron-left"></i></div> -->
  <!-- <div class="swiper-button-next"><i class="fa fa-chevron-right"></i></div> -->
</div>
