@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
html, body {
  position: relative;
  height: 100%;
}

body {
  background: #f5f5f5;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}

.parallax-section {
  background-attachment: fixed !important;
}

.btn-capsul {
  border-radius: 30px;
}

.btn-aqua {
  background: #0297FF;
  color: #fff;
}

.btn-aqua:hover {
  background: #10629b;
  color: #fff;
}

.btn-dark-blue {
  background: #0C242E;
  color: #fff;
}

.btn-dark-blue:hover {
  background: #063d28;
  color: #fff;
}

.btn-transparent-white {
  border: 2px solid #fff;
  color: #fff;
}

.btn-transparent-white:hover, .btn-transparent-white:focus {
  background: #fff;
  color: #0297FF
}

.text-blue {
  font-weight: bold;
  color: #121c67;
}

img {
  /* width: 100%; */
  max-width:740px;
  /* max-width:100%; */
}

.cars {}

.relative-box {
  position: relative
}

section {
  float: left;
  width: 100%;
  padding: 80px 0;
}

/* TOP HEADER
-------------------------------------------------- */

.navbar.top-bar {
  border-radius: 0;
  padding: 16px 0;
  z-index: 16;
}

.navbar-toggler {
  border: 1px solid #fff;
  color: #fff;
  position: absolute;
  right: 21px;
}

.sps {
  padding: 1em .5em;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.25s ease;
  width: 100%;
}

.sps--abv {
  background-color: transparent;
  color: #000;
}

.sps--blw {
  background-color: #fff;
  color: #fff;
}

.top-bar a.navbar-brand {
  color: #fff;
  font-size: 26px;
  font-weight: 800;
  padding: 5px 0 0 10px;
  text-transform: uppercase;
}

.sps--blw.top-bar a.navbar-brand {
  color: #000;
}

.top-bar a.navbar-brand span {
  color: #0297ff;
}

.top-bar .nav-link {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 18px !important;
}

.sps--blw.top-bar .nav-link {
  color: #000
}

.top-bar .navbar-nav .nav-item {
  margin: 0
}

.top-bar .nav-link:hover, .top-bar .nav-item.active a {
  color: #fff;
  border-bottom: 2px solid #fff;
  border-radius: 0;
}

.sps--blw.top-bar .nav-link:hover, .sps--blw.top-bar .nav-item.active a {
  color: #0297ff;
  border-bottom: none;
  border-radius: 0;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 14px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.main-slider .slider-bg-position {
  background-size: cover !important;
  background-position: center center !important;
}

#slide1 {
  background: url(../images/carwash-cover-1.jpg) no-repeat center;
}

#slide2 {
  background: url(../images/carwash-cover-3.jpg) no-repeat center;
}

#slide3 {
  background: url(../images/carwash-cover-4.jpg) no-repeat center;
}

.main-slider .swiper-button-prev, .main-slider .swiper-button-next {
  background-image: none !important;
  color: #fff;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
}

.main-slider h2 {
  color: #fff;
  font-size: 54px;
  line-height: 59px;
  padding: 0 19%;
  text-transform: uppercase;
}

.main-slider .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.9)
}

.main-slider .swiper-pagination-bullet-active {
  background: #0297ff
}

/* SERVICE SECTION
-------------------------------------------------- */

.service-sec {
  background-color: #fff;
}

.service-sec .heading {
  float: left;
  width: 100%;
  margin-bottom: 70px;
  text-align: center;
}

.service-sec h2 {
  display: block;
  text-transform: capitalize;
  font-weight: 600;
  color: #0297FF;
  font-size: 32px;
}

.service-sec h2 small {
  color: #222;
  display: block;
  font-size: 22px;
  margin-bottom: 18px;
}

.service-sec i {
  border: 1px solid #0297FF;
  border-radius: 2px;
  font-size: 25px;
  padding: 12px 0;
  width: 52px;
  color: #0297FF;
  margin-bottom: 20px
}

.service-sec h3 {
  font-size: 23px;
  font-weight: 600;
}

.service-sec p {
  line-height: 22px;
  margin-top: 13px;
  padding: 0 21px;
}

.service-sec .service-block {
  margin-top: 30px;
}

/* ABOUT SECTION
-------------------------------------------------- */

.about-sec {
  background: url('http://grafreez.com/wp-content/temp_demos/burnout/img/para-01.jpg') no-repeat center center;
  background-size: cover;
  color: #fff;
  position: relative;
}

.about-sec:before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(22, 122, 193, 0.32);
  top: 0;
  left: 0
}

.about-sec h2 {
  font-size: 55px;
  font-weight: 800;
  margin-top: 25%;
}

.about-sec h2 small {
  display: block;
  font-size: 24px;
  margin-bottom: 15px;
  padding-left: 10px;
}

.about-sec p {
  font-size: 16px;
}

.action-sec {
  width: 100%;
  float: left;
  background: #fff
}

.action-box {
  float: left;
  width: 100%;
  text-align: center;
}

.action-box h2 {
  color: #fff;
  font-size: 20px;
}

/* PRICE SECTION
-------------------------------------------------- */

.card-pricing.popular {
  z-index: 1;
  border: 3px solid #007bff;
}

.card-pricing .list-unstyled li {
  padding: .5rem 0;
  color: #6c757d;
}

/* FOOTER SECTION
-------------------------------------------------- */

.col_white_amrc {
  color: #FFF;
}

/* footer {
  width: 100%;
  background-color: #1d96d2;
  min-height: 250px;
  padding: 10px 0px 25px 0px;
} */

.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}

footer p {
  font-size: 13px;
  color: #CCC;
  padding-bottom: 0px;
  margin-bottom: 8px;
}

.mb10 {
  padding-bottom: 15px;
}

.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
  color: #CCC;
}

.footer_ul_amrc li a:hover {
  color: #fff;
  text-decoration: none;
}

.fleft {
  float: left;
}

.padding-right {
  padding-right: 10px;
}

.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}

.footer_ul2_amrc li p {
  display: table;
}

.footer_ul2_amrc li a:hover {
  text-decoration: none;
}

.footer_ul2_amrc li i {
  margin-top: 5px;
}

.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}

.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

.foote_bottom_ul_amrc li {
  display: inline;
}

.foote_bottom_ul_amrc li a {
  color: #999;
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}

.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}

.social_footer_ul li a {
  color: #CCC;
  border: 1px solid #CCC;
  padding: 8px;
  border-radius: 50%;
}

.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}
