<!-- Services
  ================================================== -->
<section class="service-sec" id="service">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading">
          <h2><small>Benefits of Exercise</small>To enjoy the glow of good health, you must exercise</h2>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6 text-sm-center service-block"> <i class="fa fa-plus" aria-hidden="true"></i>
            <h3>Better Sleep</h3>
            <p>Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe.</p>
          </div>
          <div class="col-md-6 text-sm-center service-block"> <i class="fa fa-leaf" aria-hidden="true"></i>
            <h3>Reduces Weight</h3>
            <p>Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe.</p>
          </div>
          <div class="col-md-6 text-sm-center service-block"> <i class="fa fa-leaf" aria-hidden="true"></i>
            <h3>Improves Mood</h3>
            <p>Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe.</p>
          </div>
          <div class="col-md-6 text-sm-center service-block"> <i class="fa fa-bell" aria-hidden="true"></i>
            <h3>Boosts Energy</h3>
            <p>Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4"> <img src="http://grafreez.com/wp-content/temp_demos/burnout/img/side-01.jpg" class="img-fluid" /> </div>
    </div>
    <!-- /.row -->
  </div>
</section>
